<?xml version="1.0" encoding="utf-8" ?>
<ContentDeleteProviders>
	<providers>
		<add name="FormWizardContentDeleteHandler"
			 type="CanhCam.Features.FormWizardContentDeleteHandler, CanhCam.Features.FormWizard"
			 description="Deletes related content when a module is deleted" />	
	</providers>
</ContentDeleteProviders>
