<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeleteNewsHandler"
			 type="CanhCam.Features.SitePreDeleteNewsHandler, CanhCam.Features.News"
			 description="Deletes content from the news module for the given site id." />

		
	</providers>
</SitePreDeleteProviders>