<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeleteContactFormHandler"
			 type="CanhCam.Features.SitePreDeleteContactFormHandler, CanhCam.Features.ContactForm"
			 description="Deletes content from the contact from module for the given site id." />

		
	</providers>
</SitePreDeleteProviders>