<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeleteVideoPlayerHandler"
			 type="CanhCam.Features.SitePreDeleteVideoPlayerHandler, CanhCam.Features.VideoPlayer"
			 description="Deletes content from the ganner module for the given site id." />

		
	</providers>
</SitePreDeleteProviders>