<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeleteFAQsHandler"
			 type="CanhCam.Features.SitePreDeleteFAQsHandler, CanhCam.Features.FAQs"
			 description="Deletes content from the FAQs module for the given site id." />

		
	</providers>
</SitePreDeleteProviders>