<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeleteGalleryHandler"
			 type="CanhCam.Features.SitePreDeleteGalleryHandler, CanhCam.Features.ImageGallery"
			 description="Deletes content from the gallery module for the given site id." />

		
	</providers>
</SitePreDeleteProviders>