<?xml version="1.0" encoding="utf-8" ?>
<SitePreDeleteProviders>
	<providers>

		<add name="SitePreDeleteSharedFilesHandler"
			 type="CanhCam.Features.SitePreDeleteSharedFilesHandler, CanhCam.Features.SharedFiles"
			 description="Deletes content from the shared files module for the given site id." />

		
	</providers>
</SitePreDeleteProviders>