<?xml version="1.0"?>
<EditorProviders defaultProvider="CKEditorProvider">
	<providers>

    <add name="RadEditorProvider"
                    type="CanhCam.Web.Editor.RadEditorProvider, CanhCam.Web"
                    description="Allows using the Telerik RadEditor" />
       
   
<!-- 
this is a plain text area with no wysiwyg, it can be used by advanced users who understand html
but it is commented out by default because its not user friendly for the average user.
2013-04-03 uncommented this by default because no wysiwyg works in iPhone so we need
to force plain text editor in iPhone, therefor it must be enabled
-->

    <add name="TextAreaProvider"
			 type="CanhCam.Web.Editor.TextAreaProvider, CanhCam.Web.Editor"
			 description="Allows using a plain text area for the editor" />


    
    <!--CKEditorProvider is disabled by default.
    if you want to use CKEditor, you can download the cab file from http://ckeditor.com/download
    and then put it in your /ClientScript/ckeditor401 (config:TinyMCE:BasePath, Emoticons: ~/Data/SiteImages/emoticons/) folder and uncomment this-->
    <add name="CKEditorProvider"
			 type="CanhCam.Web.Editor.CKEditorProvider, CanhCam.Web"
			 description="Allows using the CKEditor" />
    
    <!--TinyMCEProvider is disabled by default.
    if you want to use TinyMCE, you can download the cab file from http://www.tinymce.com/download/download.php
    and then put it in your /ClientScript/tiny_mce357 (config:CKEditor:BasePath, ~/ClientScript/jqueryFileTree, Emoticons: ~/Data/SiteImages/emoticons/tinymce/) folder and uncomment this
    <add name="TinyMCEProvider"
			 type="CanhCam.Web.Editor.TinyMCEProvider, CanhCam.Web"
			 description="Allows using the TinyMCE editor" />-->

    <!--
		<add name="FCKeditorProvider"
			 type="CanhCam.Web.Editor.FCKeditorProvider, CanhCam.Web"
			 description="Allows using the FCKeditor" />
       -->

  </providers>
</EditorProviders>