<?xml version="1.0"?>
<LuceneSettingsProviders defaultProvider="StandardAnalysisProvider">
	<providers>
	
    <add name="StandardAnalysisProvider"
			 type="CanhCam.SearchIndex.StandardAnalysisProvider, CanhCam.Web"
			 description="An analyzer suitable for indexing and search of English and similar languages" />

    <add name="VietnameseAnalysisProvider"
			 type="CanhCam.SearchIndex.VietnameseAnalysisProvider, CanhCam.Web"
			 description="An analyzer suitable for indexing and search of English, Vietnamese and similar languages" />
    
<!--	
	<add name="ArabicAnalysisProvider"
			 type="CanhCam.SearchIndex.ArabicAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	<add name="BrazilianAnalysisProvider"
			 type="CanhCam.SearchIndex.BrazilianAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	<add name="ChineseAnalysisProvider"
			 type="CanhCam.SearchIndex.ChineseAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	<add name="CJKAnalysisProvider"
			 type="CanhCam.SearchIndex.CJKAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	<add name="CzechAnalysisProvider"
			 type="CanhCam.SearchIndex.CzechAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	<add name="DutchAnalysisProvider"
			 type="CanhCam.SearchIndex.DutchAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	<add name="FrenchAnalysisProvider"
			 type="CanhCam.SearchIndex.FrenchAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	<add name="GermanAnalysisProvider"
			 type="CanhCam.SearchIndex.GermanAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	<add name="GreekAnalysisProvider"
			 type="CanhCam.SearchIndex.GreekAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	<add name="PersianAnalysisProvider"
			 type="CanhCam.SearchIndex.PersianAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	<add name="RussianAnalysisProvider"
			 type="CanhCam.SearchIndex.RussianAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	<add name="ThaiAnalysisProvider"
			 type="CanhCam.SearchIndex.ThaiAnalysisProvider, CanhCam.Web"
			 description="An analyzer " />
			 
	-->

		
  </providers>
</LuceneSettingsProviders>
