<?xml version="1.0"?>
<siteMap enabled="true" defaultProvider="canhcamsite1">
  <!-- 
	This is configured to allow up to 5 sites in a single installation, if you need more you can add more 
	and just increment the number part of the name which corresponds to the site id
				-->
  <providers>
    <clear />
      <add name="canhcamsite1" type="CanhCam.Web.gbSiteMapProvider" securityTrimmingEnabled="false"  />
      <add name="canhcamsite2" type="CanhCam.Web.gbSiteMapProvider" securityTrimmingEnabled="false"  />
      <add name="canhcamsite3" type="CanhCam.Web.gbSiteMapProvider" securityTrimmingEnabled="false"  />
      <add name="canhcamsite4" type="CanhCam.Web.gbSiteMapProvider" securityTrimmingEnabled="false"  />
      <add name="canhcamsite5" type="CanhCam.Web.gbSiteMapProvider" securityTrimmingEnabled="false"  />
    
  </providers>
</siteMap>
