body{font-family: Tahoma,Arial, sans-serif;font-size: 75%;line-height: 1.4;}
.breadcrumbs,.utilities-bar,.postdt-title a,.other-news{display: none;}
.wrapcenter{width: 700px;margin: 0 auto;}
.edit-link {display:none;}
.pages {display:none;}


