<?xml version="1.0" encoding="utf-8" ?>
<siteContent>
	<pages>
		<page 
			name="Home" 
			title="" 
			pageOrder="1"
            showBreadcrumbs="false"
            bodyCssClass="homepage"
			>
            <zone
                name="Home"
			    title=""
			    url="~/home"
			    primaryImage=""
			    displayOrder="1"
			    requireSSL="false"
			    viewRoles="All Users;"
			    authorizedRoles=""
			    metaKeyWords=""
			    metaDescription=""
            />
			<contentFeature 
				featureGuid="881e4e00-93e4-444c-b7b0-6672fb55de10"
				contentTitle="Welcome"
                contentInstaller="CanhCam.Web.HtmlContentInstaller, CanhCam.Web"
                configInfo="InitialSiteHomeContent"
				location="contentpane"
				sortOrder="1"
				cacheTimeInSeconds="0"
			/>
				  
		</page>
	</pages>
</siteContent>