<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!--<add key="MSSQLConnectionString" value="server=112.78.2.84,1433;UID=mypbcb82_usernew;PWD=ffR4s8$5;database=mypbcb82_dbnew" />-->
  <add key="MSSQLConnectionString" value="server=.\SQLEXPRESS;UID=sa;PWD=1;database=mypbcb82_dbnew_test" />
  <!--<add key="MSSQLConnectionString" value="server=CODING3;UID=sa;PWD=1;database=myphamhoangcung.gb" />-->

  <!-- if running in medium trust uncomment this
	<add key="RunningInMediumTrust" value="true" />
	-->

  <add key="UseLegacyCryptoHelper" value="false" />
  <add key="CheckMD5PasswordHashAsFallback" value="false" />
  <add key="ShowRebuildSearchIndexButtonToAdmins" value="true" />

  <add key="UseAppKeepAlive" value="false" />
  <add key="AppKeepAliveUrl" value="" />
  <add key="CombineCSS" value="false" />
  <add key="RedirectNonWWWToWWW" value="false" />
  <add key="DisableBannedIpBlockingModule" value="false" />

  <add key="EnableContentWorkflow" value="false" />

  <!--JQuery Setup-->
  <add key="UseGoogleCDN" value="true" />

  <add key="ForceSingleSessionPerUser" value="false" />
  <add key="AllowedUploadFileExtensions" value=".gif|.jpg|.jpeg|.png|.flv|.swf|.wmv|.mp3|.mp4|.m4a|.m4v|.oga|.ogv|.webma|.webmv|.webm|.wav|.fla|.tif|.asf|.asx|.avi|.mov|.mpeg|.mpg|.zip|.pdf|.doc|.docx|.xls|.xlsx|.ppt|.pptx|.pps|.csv|.txt|.htm|.html" />
  <add key="AudioFileExtensions" value=".wma|.mp3|.m4a|.m4a|.oga|.webma|.webm|.wav|.asf|.asx|.fla" />
  <add key="VideoFileExtensions" value=".flv|.swf|.wmv|.mp4|.m4v|.ogv|.webmv|.webm|.avi|.mov|.mpeg|.mpg" />
  <add key="DocumentFileExtensions" value=".doc|.txt|.docx|.xls|.xlsx|.pdf" />
  <add key="ImageFileExtensions" value=".gif|.jpg|.jpeg|.png" />

  <add key="SetMasterInLoginPage" value="true" />
  <add key="SetMasterInChangePasswordPage" value="false" />
  <add key="SetMasterInPasswordResetPage" value="false" />
  <add key="SetMasterInProfilePage" value="false" />
  <add key="SetMasterInRecoverPasswordPage" value="false" />

  <add key="UseTokensForRecoveryPassword" value="true" />
  <!--<add key="TooManyPagesForGridEvents" value="0" />-->
  <add key="AllowMultipleSites" value="false" />
  
  <add key="AutoGenerateAndHideUserNamesWhenUsingEmailForLogin" value="true" />

  <add key="FacebookAppId" value="351762391626690" />
  <add key="FacebookAppSecret" value="c33c3cf69078f3de682ff3f118730d10" />
  <add key="GoogleClientId" value="988122582379-413dke8lkhenikqaach0qvsn9p12uubj.apps.googleusercontent.com" />
  <add key="GoogleSecret" value="HjVvHoPQdxrHZLqFYvKtUJGm" />
  
  <!-- OnePAY -->
  <add key="OnePAYNoiDia.URLPayment" value="https://mtf.onepay.vn/onecomm-pay/vpc.op" />
  <add key="OnePAYNoiDia.MerchantID" value="ONEPAY" />
  <add key="OnePAYNoiDia.Accesscode" value="D67342C2" />
  <add key="OnePAYNoiDia.Hashcode" value="A3EFDFABA8653DF2342E8DAC29B51AF0" />
  
  <add key="OnePAYQuocTe.URLPayment" value="https://mtf.onepay.vn/vpcpay/vpcpay.op" />
  <add key="OnePAYQuocTe.MerchantID" value="TESTONEPAY" />
  <add key="OnePAYQuocTe.Accesscode" value="6BEB2546" />
  <add key="OnePAYQuocTe.Hashcode" value="6D0870CDE5F24F34F3915FB0045120DB" />
  
  <add key="OnePAY.ZoneID.TransactionSuccessful" value="113" />
  <add key="OnePAY.ZoneID.TransactionPending" value="114" />
  <add key="OnePAY.ZoneID.TransactionNotSuccessful" value="115" />
  <!-- End OnePAY -->
</appSettings>