<?xml version="1.0"?>
  <Routes>
    <!-- 
    this is not used for the main cms features but can be used by application developers for non cms features
    it will allow us to use ASP.NET routing without having to re-compile when adding routes
    you can drop additional .config files with this format into this folder
    
    use of routing depends on extensionless urls http://www.canhcam.vn/extensionless-urls.aspx or else your routes would need to end with .aspx
    
    -->
    <!-- below are just examples of how to decalre routes they are not working routes -->
    <!-- 
      <Route name="AXD" routeUrl="{resource}.axd/{*pathInfo}"></add>
      <Route name="CategoryList" routeUrl ="CategoryList" virtualPath="~/CategoryList.aspx"/>
      <Route name="ProductList" routeUrl="Category/{C}/Products" virtualPath="~/ProductList.aspx">
        <Restrictions>
          <add parameterName="C" restriction="\d"/>
        </Restrictions>
      </Route>
      <Route name="ViewProduct" routeUrl="Product/{Id}" virtualPath="~/ViewProduct.aspx">
        <Restrictions>
          <add parameterName="Id" restriction="\d"></add>
        </Restrictions>
        <Defaults>
          <add parameterName="Id" defaultValue="1"/>
        </Defaults>
      </Route>
      <Route name="CustomerOrders" routeUrl="Customers/Orders/{Cu}" virtualPath="~/ListOrders.aspx">
      </add>
      <Route name="CustomerList" routeUrl="Customers" virtualPath="~/Customers.aspx">
      </add>
      <Route name="OrderDetails" routeUrl="Customers/Orders/{Id}" virtualPath="~/OrderDetails.aspx"/>
      
      <Route name="BlogCategory" routeUrl="Blog/Category/{category}/{pageid}/{moduleid}" virtualPath="~/Blog/ViewCategory.aspx">
      
        <Restrictions>
          <add parameterName="Id" restriction="\d"></add>
        </Restrictions>
        
      <Defaults>
        <add parameterName="pageid" defaultValue="1"/>
        <add parameterName="moduleid" defaultValue="1"/>
      </Defaults>
    </Route>-->

  </Routes>
