<?xml version="1.0" encoding="utf-8" ?>
<IndexBuilderProviders>
	<providers>

		<add name="NewsIndexBuilderProvider"
			 type="CanhCam.Features.NewsIndexBuilderProvider, CanhCam.Features.News"
			 description="An IndexBuilder to index news content for Lucene.NET Search Engine" />

		
	</providers>
</IndexBuilderProviders>