<?xml version="1.0" encoding="utf-8" ?>
<IndexBuilderProviders>
	<providers>

		<add name="ProductIndexBuilderProvider"
			 type="CanhCam.Features.ProductIndexBuilderProvider, CanhCam.Features.Product"
			 description="An IndexBuilder to index product content for Lucene.NET Search Engine" />

		
	</providers>
</IndexBuilderProviders>